:root {
	--primary-dark: #008d3d;
	--primary: #00a347;
	--primary-light: #1ac062;
	--accent: #ffa300;
	--foreground: #ffffff;
	--text-foreground: #222;
	--foreground-dim: #a4d4ba;
	--placeholder-color: #d7ffe9;
	--dim-gray: #dddddd;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	overflow: hidden;
}
.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 101px auto;
}
.header {
	background-color: var(--primary);
}
.wrapper {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 101px auto;
}

.empty-list {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	color: var(--dim-gray);
}