.toolbar{
    position: fixed;
    height: 45px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-dark);
    color: var(--foreground);
    width: 100vw;
    left: 0;
    top: 56px;
}
.toolbar .col1{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}
.toolbar .col2{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: var(--foreground);
}
.toolbar .col3{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: bold;
    color: var(--dim-gray);
}
.toolbar .col4{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}